body {
  background-color: hsla(0, 0%, 83%, 0.3);
}

li,
#quote {
  width: 60%;
  align-items: center;
  margin: auto;
  font-family: "Roboto", sans-serif;
  color: rgb(70, 70, 70);
}

h1,
#subtitle,
figcaption,
h3 {
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

h1,
#subtitle,
h3,
figcaption,
li,
#quote {
  line-height: 1.5;
  padding: 0.5em;
}

h1 {
  font-size: 2.7em;
}
h3 {
  font-size: 1.3em;
  padding-top: 2em;
}
strong {
  color: black;
  font-weight: 900;
}

#quote {
  font-style: italic;
}

#subtitle {
  margin-top: -1em;
  color: rgb(70, 70, 70);
}

figcaption {
  margin-bottom: -1em;
  color: rgb(70, 70, 70);
}

#img-div {
  background-color: white;
  font-family: "Roboto", sans-serif;
  margin: 0.3em;
  padding: 1em;
}

img {
  width: 75%;
  height: auto;
  display: block;
  margin: auto;
}

#quote,
li {
  width: 40%;
  min-width: 15em;
}

@media screen and (max-width: 600px) {
  img,
  figcaption,
  li,
  #quote,
  footer {
    width: 100%;
  }

  #quote,
  li {
    max-width: 25em;
  }
}
